@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato);

body{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    /*background-color: #e3f2fd;*/
}

.floatbox{
    display: flex;
    padding: 20px;
    background: white;
    width: 70vw;
    height: 80vh;

    border: gray 1px solid;
    border-radius: 10px;
}

.leftbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
}

.leftbox img{
    width: 80%;
    height: 80%;
}

.rightbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 110%;
    padding-left: 20px;
}

.rightbox h1{
    width: 100%;
    text-align: left;
}

.rightbox .head{
    font-weight: bold;
}

a{
    color: black;
}

a:hover{
    color: gray;
}
